@import "styles/App.css";
@import "styles/EachCountry.css";
@import "styles/Main.css";
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: larger;
  background: #dedad0;
  color: #0E0E0D;
}

